{% extends 'base.html' %}
{% block main %}
{% load static %}
<section class="cadastro">
    <div class="msg-reg">
        <p>Notamos que você ainda não está cadastrado em nosso sistema. Preencha os campos abaixo para realizar o cadastro.</p>
    </div>
    <div class="form-reg">
        <p>Insira os dados nos campos</p>
        <form method="POST" action="/cadastro">
            {% csrf_token %}
            <input type="hidden" name="telefone" value="{{telefone}}">
            <label>Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome..." required>
            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" placeholder="Digite seu sobrenome..." required>
            <label>E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail..." required>
            <div class="d-flex">
                <div type="submit" value="Próximo" id="btnNext" class="btnNext" onclick="mostrarModal()">Próximo</div>
            </div>
            <div class="bg-modal" id="modal">
                <div class="modal">
                    <p>Você precisa de ajuda ou quer ajudar?</p>
                    <p id="num"></p>
                    <div class="d-flex">
                        <input type="hidden" name="papel">
                        <input type="submit" class="btn-no" name="Ajudar" value="Ajudar" id="btnNo">
                        <input type="submit" class="btn-yes" name="Ajuda" value="Ajuda" id="btnYes">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock main %}