{% extends 'base.html' %}
{% block main %}
{% load static %}
<section class="cadastro">
    <div class="msg-reg">
        <p>Notamos que você ainda não está cadastrado em nosso sistema. Preencha os campos abaixo para realizar o cadastro.</p>
    </div>
    <div class="form-reg">
        <p>Insira os dados nos campos</p>
        <form method="POST" action="/cadastro">
            {% csrf_token %}
            <input type="hidden" name="telefone" value="{{telefone}}">
            <label>Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome..." required>
            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" placeholder="Digite seu sobrenome..." required>
            <label>E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail..." required>
            <div class="d-flex">
                <input type="submit" value="Próximo" id="btnNext" class="btnNext">
            </div>
        </form>
    </div>
</section>
{% endblock main %}