{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
    function foo() {
        location.reload(true)
    }

    window.onload = function() {            
        setInterval("foo()", 5000)
        const chat = document.querySelector(".chat-content");
        chat.scrollTo(0,chat.scrollHeight);
    }            
        
    
</script>
{% endblock head %}
{% block main %}
<section class="chat">
    <div class="chat-header">
        {% if papel == 'ajudante' %}
        <div>
            <i class="fas fa-user-circle user-pic"></i>
            <p class="user-name">{{match.ID_ajudado.nome}}</p>
        </div>
        <a href="javascript:history.go({{i}})"><i class="fas fa-undo btn-back"></i></a>
        {% else  %}
        <div>
            <i class="fas fa-user-circle user-pic"></i>
            <p class="user-name">{{match.ID_ajudante.nome}}</p>
        </div>
        <a href="javascript:history.go({{i}})"><i class="fas fa-undo btn-back"></i></a>
        {% endif %}
    </div>
    <div class ="chat-content"> 
        {% for mensagem in mensagens %}
        {% if papel == 'ajudante'%}
            {% if mensagem.remetente == match.ID_ajudante.nome %}
            <div class="balao {{papel}}">
            {% else %}
            <div class="balao">
            {% endif %}
                <p>{{mensagem.remetente}}, {{mensagem.data}}</p>
                {{mensagem.mensagem}}
            </div>
            <br>
        {% elif papel == 'ajudado'%}
            {% if mensagem.remetente == match.ID_ajudado.nome %}
            <div class="balao {{papel}}">
            {% else %}
            <div class="balao">
            {% endif %}
                <p>{{mensagem.remetente}}, {{mensagem.data}}</p>
                {{mensagem.mensagem}}
            </div>
            <br>
        {% endif %}
        {% endfor %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="chat-insert">
            <input type="text" name="mensagem" placeholder ="Digite sua mensagem..." required>
            <input type="submit" placeholder="Enviar" class="btnNext">
        </div>
    </form>
</section>

{% endblock main %}