{% extends 'base.html' %}
{% block main %}
<section class="match-content">
    <div class="match-header">
        <p>Suas conversas</p>
    </div>
    {% if ajudante %}
        {% for match in matchs %}
        <a href="/chat?MatchID={{match.id}}&papel=ajudante">
            <div class="match">
                <i class="fas fa-user-circle user-pic"></i>
                {{match.ID_ajudado.nome}}
            </div>
        </a>
        {% endfor %}
    {% elif ajudado %}
        {% for match in matchs %}
        <div class="match">
            <a href="/chat?MatchID={{match.id}}&papel=ajudado">{{match.ID_ajudante.nome}}</a>
        </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock main %}