{% extends 'base.html' %}
{% block main %}
<section class="match-content">
    {% if ajudante %}
        {% for match in matchs %}
        <div class="match">
            <a href="/chat?MatchID={{match.ID}}&papel=ajudado">{{match.ID_ajudado.nome}}</a>
        </div>
        {% endfor %}
    {% elif ajudado %}
        {% for match in matchs %}
        <div class="match">
            <a href="/chat?MatchID='{{match.ID}}&papel=ajudante">{{match.ID_ajudante.nome}}</a>
        </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock main %}