{% extends 'base.html' %}
{% block main %}
{% load static %}

<section class="main">
    <div class="logo">
        <img src="{% static "images/logo.png" %}">
    </div>

    <div class="welcome">
        <p>Olá</p>
        <p>Junte-se a nós e faça parte da campanha contra a depressão.</p>
    </div>
    
    <div class="tel_login">
        <p>Entre com seu número:</p>
        <span class="msgError">*Informe o número para continuar</span>
        <div class="area-input_icon">
            <i class="fas fa-phone-alt tel-icon"></i>
            <input class="inputNum" type="text" maxlength="11" placeholder="Ex: (11) 9 1111-2222" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
        </div>
        <input type="submit" value="Próximo" id="btnNext" class="btnNext">
    </div>

    <div class="bg-modal" id="modal">
        <div class="modal">
            <p>O número inserido está correto?</p>
            <p id="num"></p>
            <div class="d-flex">
                    <input type="submit" class="btn-no" value="Não" id="btnNo">
                <form method="GET" action="/acesso">
                    {% csrf_token %}
                    <input type="hidden" id="inputNumberBd" name="telefone">
                    <input type="submit" class="btn-yes" value="Sim" id="btnYes">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock main %}